<div>
    <form>
        <!-- Address form -->
        <h3>Service Information</h3>

        <!-- name input-->
        <div class="flex">
            <input style="margin-right: 5px;" type="text" ng-model="$ctrl.ticket.billingName" class="form-control flex-1" placeholder="First Name">
            <input style="margin-right: 5px;" type="text" ng-model="$ctrl.ticket.billingLastName" class="form-control flex-1" placeholder="Last Name">
        </div>

        <!-- address-line1 input-->
        <div style="margin-top: 10px;" class="flex">
            <input style="margin-right: 5px;" type="text" ng-model="$ctrl.ticket.billingAddress" class="form-control flex-1" placeholder="Address">
        </div>

        <!-- city-state-zip-code input-->
        <div style="margin-top: 10px;" class="flex">
            <input style="margin-right: 5px;" type="text" ng-model="$ctrl.ticket.billingCity" class="form-control flex-2" placeholder="City">
            <input style="margin-right: 5px;" type="text" ng-model="$ctrl.ticket.billingState" class="form-control flex-1" maxlength="2" placeholder="State">
            <input style="margin-right: 5px;" type="text" ng-model="$ctrl.ticket.billingZip" class="form-control flex-2" placeholder="Zip Code">
        </div>

        <!-- phone input-->
        <div style="margin-top: 10px;" class="flex">
            <input style="margin-right: 5px;" type="text" phone-number-input ng-model="$ctrl.ticket.billingPhone1" class="form-control flex-1" placeholder="Phone #1">
            <input style="margin-right: 5px;" type="text" phone-text-input ng-model="$ctrl.ticket.billingPhone2" class="form-control flex-1" placeholder="Phone #2">
        </div>
    </form>
</div>
