<div class="panel panel-default flex-column">
    <div class="panel-heading">
        <h3 class="panel-title">Customer Search</h3>
    </div>

    <div style="padding: 10px;" class="panel-body flex-column">
        <div ng-if="$ctrl.error" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ $ctrl.error }}
        </div>

        <div style="min-height: 80px;">
            <div class="flex-column">
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="$ctrl.searchType" uib-btn-radio="'lastName'">Last Name</label>
                    <label class="btn btn-default" ng-model="$ctrl.searchType" uib-btn-radio="'phoneNumber'">Phone Number</label>
                </div>
            </div>

            <div style="padding-top: 10px;" class="flex-column">
                <input type="text" ng-model="$ctrl.searchText" ng-model-options="{ debounce: 500 }" ng-change="$ctrl.search()" class="form-control" placeholder="Search...">
            </div><!-- /input-group -->
        </div>

        <h3>Results <span ng-if="$ctrl.customers" class="badge">{{ $ctrl.customers.length }}</span></h3>

        <div id="customer-matches" class="flex-column">
            <div class="list-group">
                <div id="search-spinner" us-spinner="$ctrl.spinnerConfig" spinner-on="$ctrl.showSpinner"></div>
                <button ng-repeat="customer in $ctrl.customers" ng-click="$ctrl.selectCustomer(customer)"
                        ng-attr-id="{{ customer.id }}" type="button" class="list-group-item">
                    {{ ::customer.lastName }}, {{ ::customer.firstName }}
                </button>
            </div>
        </div>

        <div style="padding-top: 20px;">
            <button ng-click="$ctrl.createNewCustomer()" style="width: 100%;"
                    type="button" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Customer
            </button>
        </div>

    </div>
</div>
