<div class="flex-column">
    <div class="panel panel-default flex-column">
        <div class="panel-heading">
            <h3 class="panel-title">Jump to a Ticket</h3>
        </div>

        <div style="padding: 10px;" class="input-group">
            <input type="text" ng-model="$ctrl.ticketId" ng-keypress="$ctrl.openTicket($event)" class="form-control" placeholder="Ticket Number">
            <span class="input-group-btn">
                <button ng-click="$ctrl.openTicket()" class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </div>

    <div class="panel panel-default flex-column flex-1">
        <div class="panel-heading">
            <h3 class="panel-title">Customer Search</h3>
        </div>

        <div style="padding: 10px;" class="panel-body flex-column">
            <div ng-if="$ctrl.error" class="alert alert-danger" role="alert">
                <i class="fa fa-exclamation"></i>
                {{ $ctrl.error }}
            </div>

            <div>
                <div class="flex-column">
                    <div class="btn-group">
                        <label class="btn btn-default" ng-class="{'active': $ctrl.searchType === 'lastName'}" ng-click="$ctrl.setSearchType('lastName')">Last Name</label>
                        <label class="btn btn-default" ng-class="{'active': $ctrl.searchType === 'phoneNumber'}" ng-click="$ctrl.setSearchType('phoneNumber')">Phone Number</label>
                    </div>
                </div>

                <div style="padding-top: 10px;" class="flex-column">
                    <input type="text" ng-model="$ctrl.searchText" ng-model-options="{ debounce: 500 }" ng-change="$ctrl.search()" class="form-control" placeholder="Search...">
                </div><!-- /input-group -->
            </div>
            
            <div class="input-group">
                 <div><label>Only Service Tickets</label><input type="radio" ng-model="$ctrl.resultType" value="ticketsOnly" ng-change="$ctrl.search()" ></div>
                 <div style="display: none;"><label>Only Invoices</label><input type="radio" ng-model="$ctrl.resultType" value="invoicesOnly" ng-change="$ctrl.search()" ></div>
                 <div><label>Tickets and Invoices</label><input type="radio" ng-model="$ctrl.resultType" value="both" ng-change="$ctrl.search()" ></div>   
            </div>
            <!-- start search date input-->
            <div id="startAndEndSearchDates" ng-show="$ctrl.resultType==='ticketsOnly'">
              <div style="margin-top: 10px;" class="item-group flex">
                  <div class="dropdown">
                      <a class="dropdown-toggle" id="start-search-date" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="$ctrl.startSearchDate" placeholder="Tickets on or After..." ng-change="$ctrl.search()" >
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                      </a>
                      <ul class="dropdown-menu dropdown" role="menu" aria-labelledby="dLabel">
                          <datetimepicker ng-model="$ctrl.startSearchDate" data-datetimepicker-config="{ dropdownSelector: '#start-search-date', modelType: 'YYYY-MM-DD', minView: 'day' }"/>
                      </ul>
                  </div>
              </div>
              <!-- end search date input -->
              <div style="margin-top: 10px;" class="item-group flex">
                  <div class="dropdown">
                      <a class="dropdown-toggle" id="end-search-date" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="$ctrl.endSearchDate" placeholder="Tickets on or Before..." ng-change="$ctrl.search()" >
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                      </a>
                      <ul class="dropdown-menu dropdown" role="menu" aria-labelledby="dLabel">
                          <datetimepicker ng-model="$ctrl.endSearchDate" data-datetimepicker-config="{ dropdownSelector: '#end-search-date', modelType: 'YYYY-MM-DD', minView: 'day' }"/>
                      </ul>
                  </div>
              </div>
            </div>

            <h3>Results <span ng-if="$ctrl.customers" class="badge">{{ $ctrl.customers.length }}</span></h3>

            <div id="customer-matches" class="flex-column">
                <div class="list-group">
                    <div id="search-spinner" us-spinner="$ctrl.spinnerConfig" spinner-on="$ctrl.showSpinner"></div>
                    <button ng-repeat="customer in $ctrl.customers" ng-click="$ctrl.selectCustomer(customer)"
                            ng-attr-id="{{ customer.id }}" type="button" class="list-group-item">
                        {{ ::customer.lastName }}, {{ ::customer.firstName }}
                    </button>
                </div>
            </div>

            <div style="padding-top: 20px;">
                <button ng-click="$ctrl.createNewCustomer()" style="width: 100%;"
                        type="button" class="btn btn-success btn-lg">
                    <i class="fa fa-plus"></i>
                    New Customer
                </button>
            </div>
        </div>
    </div>
</div>
