<div class="flex-column">
    <div class="panel panel-default flex-column">
        <div class="panel-heading">
            <h3 class="panel-title">Jump to a Ticket or Purchase</h3>
        </div>

        <div style="padding: 10px;"  class="panel-body flex-column">
            <div class="flex-column">
                <div class="btn-group">
                    <label class="btn btn-default"
                           ng-class="{active: $ctrl.jumpType === 'ticket'}"
                           ng-click="$ctrl.setJumpType('ticket')">
                        Ticket
                    </label>
                    <label class="btn btn-default"
                           ng-class="{active: $ctrl.jumpType === 'purchase'}"
                           ng-click="$ctrl.setJumpType('purchase')">
                        Purchase
                    </label>
                </div>
            </div>

            <div style="padding-top: 10px;" class="input-group">
                <input
                    id="jump-input"
                    type="text"
                    ng-model="$ctrl.jumpId"
                    ng-keypress="$ctrl.jump($event)"
                    class="form-control"
                    placeholder="{{$ctrl.jumpType === 'purchase' ? 'Purchase' : 'Ticket'}} Number"
                >
                <span class="input-group-btn">
                    <button ng-click="$ctrl.jump()" class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <div class="panel panel-default flex-column flex-1">
        <div class="panel-heading">
            <h3 class="panel-title">Customer Search</h3>
        </div>

        <div style="padding: 10px;" class="panel-body flex-column">
            <div ng-if="$ctrl.error" class="alert alert-danger" role="alert">
                <i class="fa fa-exclamation"></i>
                {{ $ctrl.error }}
            </div>

            <div style="min-height: 120px;">
                <basic-search search-options="$ctrl.searchOptions"></basic-search>

                <div style="padding-top: 10px;" class="flex-column">
                    <button ng-click="$ctrl.openAdvancedSearch()"
                            class="btn btn-info">
                        <i class="fa fa-search-plus"></i>
                        Advanced Search
                    </button>
                </div><!-- /input-group -->
            </div>

            <h3>Results <span ng-if="$ctrl.customers" class="badge">{{ $ctrl.customers.length }}</span></h3>

            <div id="customer-matches" class="flex-column">
                <div class="list-group">
                    <div id="search-spinner" us-spinner="$ctrl.spinnerConfig" spinner-on="$ctrl.showSpinner"></div>
                    <a
                        ng-repeat="customer in $ctrl.customers"
                        ng-click="$ctrl.selectedCustomer = customer"
                        class="list-group-item"
                        style="cursor: pointer"
                        ng-class="{active: customer === $ctrl.selectedCustomer}"
                        uib-tooltip="{{ ::customer.address }}, {{ ::customer.city }}, {{ ::customer.state }}"
                        tooltip-placement="top"
                    >
                        <h5>{{ ::customer.lastName }}, {{ ::customer.firstName }}</h5>
                        <div ng-if="customer === $ctrl.selectedCustomer">
                            <div class="flex-column">
                            <button type="button" class="btn btn-warning btn-sm" ng-click="$ctrl.openCustomerTickets()">
                                <i class="fa fa-file-o"></i>
                                Tickets
                            </button>
                            </div>

                            <div class="flex-column" style="padding-top: 5px;">
                            <button type="button" class="btn btn-warning btn-sm" ng-click="$ctrl.openCustomerPurchases()">
                                <i class="fa fa-file-o"></i>
                                Purchases
                            </button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div style="padding-top: 20px;">
                <button ng-click="$ctrl.createNewCustomer()" style="width: 100%;"
                        type="button" class="btn btn-success btn-lg">
                    <i class="fa fa-plus"></i>
                    New Customer
                </button>
            </div>
        </div>
    </div>
</div>
