<ui-view></ui-view>
<div id="ticket-spinner" us-spinner="$ctrl.spinnerHandler.config" spinner-on="$ctrl.spinnerHandler.show"></div>
<div ng-show="$ctrl.spinnerHandler.show" class="blocking-overlay"></div>
<div class="no-print">
    <div>
        <div class="flex">
                <h4 style="margin-top: 0;" class="flex-1"><b>Invoice #:</b> {{ $ctrl.currentTicket.id }}</h4>
                <h4 style="margin-top: 0;" class="flex-1"><b>Date:</b> {{ $ctrl.currentTicket.dateOpen }}</h4>
        </div>

        <div class="flex">
            <customer-information style="margin-right: 20px;" customer="$ctrl.customer" class="flex-1">
            </customer-information>
            <billing-information style="margin-right: 20px;" ticket="$ctrl.currentTicket" class="flex-1">
            </billing-information>
            <product-information ticket="$ctrl.currentTicket" class="flex-1"></product-information>
        </div>

        <div class="flex">
            <div class="flex-1" style="margin-right: 10px;">
                <h3>Service Requests</h3>
                <textarea ng-model="$ctrl.currentTicket.customerComplaint" class="form-control" rows="3"></textarea>
            </div>

            <div class="flex-1" style="margin-left: 10px;">
                <h3>Service Log <span style="font-size: 16px;">(Not on customer copy)</span></h3>
                <textarea ng-model="$ctrl.currentTicket.serviceDescription" class="form-control" rows="3"></textarea>
            </div>
        </div>

        <parts-list ticket="$ctrl.currentTicket"></parts-list>

        <div class="flex">
            <service-list ticket="$ctrl.currentTicket" style="margin-right: 20px;" class="flex-1"></service-list>
            <total-due ticket="$ctrl.currentTicket" class="flex-1"></total-due>
        </div>

    </div>

    <div id="ticket-pagination">
        <div class="flex">
            <ul uib-pagination total-items="$ctrl.customer.tickets.length" items-per-page="1" ng-model="$ctrl.paginationIndex"
                max-size="5" boundary-links="true" force-ellipses="true" ng-change="$ctrl.changeTicket()">
            </ul>
            <div>
                <button ng-click="$ctrl.createNewTicket()" class="btn btn-success" style="margin: 20px;">
                    <i class="fa fa-plus"></i>
                    New Ticket
                </button>
            </div>
        </div>
    </div>
</div>
