<div class="flex">
    <div class="flex-1">
        <button ng-click="$ctrl.toggleSnap()" class="btn btn-primary" tooltip-placement="right" uib-tooltip="Toggle Search Panel">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
    </div>

    <div>
        <h4 style="margin-top: 0;"><b>Service Invoice #:</b> {{ $ctrl.ticketSelection.current.invoiceNumber }}</h4>
        <h4 style="margin-bottom: 0;"><b>Date:</b> {{ $ctrl.ticketSelection.current.date }}</h4>
    </div>
</div>

<div class="flex">
    <customer-information style="margin-right: 20px;" class="flex-1"></customer-information>
    <customer-information style="margin-right: 20px;" type="'billing'" class="flex-1"></customer-information>
    <product-information class="flex-1"></product-information>
</div>

<div>
    <h3>Customer Complaints</h3>
    <textarea class="form-control" rows="3" id="comment"></textarea>
</div>

<div>
    <h3>Parts</h3>
    <table class="table table-striped">
        <tr>
            <th>Brand</th>
            <th>Description</th>
            <th>Part Number</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>

        <tr ng-repeat="part in $ctrl.parts">
            <td>
                <input type="text" ng-model="part.brand" placeholder="Brand">
            </td>

            <td>
                <input type="text" ng-model="part.description" placeholder="Description">
            </td>

            <td>
                <input type="text" ng-model="part.partNumber" placeholder="Part Number">
            </td>

            <td>
                <input type="text" ng-model="part.price" placeholder="Price">
            </td>

            <td>
                <input type="text" ng-model="part.quantity" placeholder="Quantity">
            </td>

            <td>
                {{ part.price * part.quantity }}
            </td>
        </tr>
    </table>
</div>
