<nav class="navbar navbar-default navbar-fixed-top">
    <button ng-click="$ctrl.toggleSnap()" style="position: absolute; left: 10px;" class="btn btn-primary navbar-btn"
            tooltip-placement="right" uib-tooltip="Toggle Search Panel">
        <i class="fa fa-bars"></i>
    </button>

    <button ng-click="$ctrl.saveCustomer()" ng-disabled="$ctrl.disableControls()"
            style="position: absolute; left: 100px;" class="btn btn-success navbar-btn">
        <i class="fa fa-floppy-o"></i> Save
    </button>

    <button ng-click="$ctrl.printTicket()" ng-disabled="$ctrl.disableControls()"
            style="position: absolute; left: 185px;" class="btn btn-warning navbar-btn">
        <i class="fa fa-print"></i> Print
    </button>

    <div style="position: absolute; left: 270px; margin: 15px 0;" class="checkbox checkbox-primary">
        <input type="checkbox" id="show-customer-totals" ng-model="$ctrl.hideCustomerTotals">
        <label for="show-customer-totals">Hide Totals on Customer Copy</label>
    </div>
</nav>
