<nav class="navbar navbar-default navbar-fixed-top">
    <button ng-click="$ctrl.toggleSnap()" style="position: absolute; left: 10px;" class="btn btn-primary navbar-btn"
            tooltip-placement="right" uib-tooltip="Toggle Search Panel">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>

    <button ng-click="$ctrl.saveCustomer()" ng-disabled="$ctrl.getStateName() !== 'customers'"
            style="position: absolute; right: 380px;" class="btn btn-success navbar-btn">
        <span class="glyphicon glyphicon-floppy-disk"> Save</span>
    </button>

    <button ng-click="$ctrl.printTicket()" ng-disabled="$ctrl.getStateName() !== 'customers'"
            style="position: absolute; right: 275px;" class="btn btn-warning navbar-btn">
        <span class="glyphicon glyphicon-print"> Print</span>
    </button>
</nav>
