snap-content {
    background-color: #272b30;
    box-shadow: 0 0 10px #aaa;
    padding: 20px;
}

snap-drawer {
    padding: 10px 10px 0px 10px;
}

search-panel {
    display: flex;
    flex: 1;
}

.align-right {
    text-align: right;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}
