<div>
    <form>
        <!-- Product form -->
        <h3>Product Information</h3>

        <!-- item-brand input-->
        <div class="flex">
            <input type="text" style="margin-right: 5px;" ng-model="$ctrl.ticket.brand" uib-typeahead="brand for brand in $ctrl.brands | filter:$viewValue | limitTo:8" class="form-control flex-1" placeholder="Brand">
            <input type="text" ng-model="$ctrl.ticket.item" uib-typeahead="description for description in $ctrl.descriptions | filter:$viewValue | limitTo:8" class="form-control flex-1" placeholder="Item">
        </div>

        <!-- model-number input-->
        <div style="margin-top: 10px;" class="flex">
            <input type="text" ng-model="$ctrl.ticket.model" class="form-control flex-1" placeholder="Model Number">
        </div>

        <!-- serial-number input-->
        <div style="margin-top: 10px;" class="flex">
            <input type="text" ng-model="$ctrl.ticket.serialNumber" class="form-control flex-1" placeholder="Serial Number">
        </div>

        <!-- date-of-purchase input-->
        <div style="margin-top: 10px;" class="item-group flex">
            <div class="dropdown">
                <a class="dropdown-toggle" id="product-info-date" role="button" data-toggle="dropdown">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="$ctrl.ticket.dateOfPurchase" placeholder="Date of Purchase" readonly>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="$ctrl.ticket.dateOfPurchase" data-datetimepicker-config="{ dropdownSelector: '#product-info-date', modelType: 'MM/DD/YYYY', minView: 'day' }"/>
                </ul>
            </div>
        </div>
    </form>
</div>
